#boite{
    background-color: red;
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: square;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes square{
    0%{
        left: 0%;
    }
    50%{
        left: 400px;
    }
    100%{
        left: 0%;
    }
}
